<div class=" my-5">

         <div class="latest-orders ">
             <div class="head  p-4">
               <div class="order-icon d-flex justify-content-center align-items-center">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 6.16667V17.1667C2 17.5704 2.24274 17.9345 2.61538 18.0897L12 22M2 6.16667L11.2308 2.32051C11.7231 2.11538 12.2769 2.11538 12.7692 2.32051L17 4.08333M2 6.16667L7 8.25M12 10.3333V22M12 10.3333L22 6.16667M12 10.3333L7 8.25M12 22L21.3846 18.0897C21.7573 17.9345 22 17.5704 22 17.1667V6.16667M22 6.16667L17 4.08333M7 8.25L17 4.08333" stroke="white" stroke-width="1.5" stroke-linejoin="round"/>
                </svg>
              </div>
              <div class="d-flex justify-content-between align-items-center gap-3 mt-3">
                <h3>{{ locals.profile.order_latest }}</h3>
                <a class="show-more" href="/account-orders">{{ locals.profile.show_more }}</a>
              </div>
             </div>
              <div class="latest_orders_data d-flex flex-column gap-5  p-4">
              
              </div>
          </div>
 </div>

