<section class="breadcrumb-section my-4 my-md-5">
    <nav  style="--bs-breadcrumb-divider:" ";" aria-label="breadcrumb">
       
        <ol class="breadcrumb">
          <div class="container d-flex flex-wrap align-items-center gap-3">
              {% block breadcrumb_items %}{% endblock %}
          </div>
     
        </ol>
  
      </nav>
</section>
